<h1>Hello Everyone</h1>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Assignment 2</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <button class="btn btn-outline-success" type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="viewproject()">List Projects</button>&nbsp;&nbsp;
          <button class="btn btn-outline-success" type="submit" data-bs-toggle="modal" data-bs-target="#exampleModall">Project Updates</button>&nbsp;&nbsp;
        </div>
      </div>
    </nav>
</div>
<div class="modal fade" id="exampleModall" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <div class="modal-footer">
                <!-- <button type="submit" data-bs-toggle="modal" class="btn btn-outline-success" data-bs-target="#exampleModalll">Add Project</button> -->
                <a  routerLink="/crud" routerLinkActive="active"> Add Project </a>
                <a  routerLink="/see-crud" routerLinkActive="active">See Project</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
      </div>
    </div>
</div>

<div class="modal fade "  id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="width:150%">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Project - List</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="width:100%;">  
            <table class="table">
             <thead>
               <tr>
                 <th scope="col">Project-Id</th>
                 <th scope="col">Name</th>
                 <th scope="col">Description</th>
                 <th scope="col">Age</th>
               </tr>
             </thead>
             <tbody>
               <tr *ngFor="let project of projects">
                 <td>{{project.id}}</td>
                 <td>{{project.name}}</td>
                 <td>{{project.description}}</td>
                 <td>{{project.age}}</td>
               </tr>
             </tbody>
           </table>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-primary" (click)="viewproject()">View Project</button> -->
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
<router-outlet></router-outlet>

<!-- <router-outlet></router-outlet> -->